
body
{
    padding: 0px;
    margin:0px ;
    
}
.bgimg1
{
background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.5),rgba(0,0,0,0),rgba(0,0,0,0)), url('./images/bigburgere.png');
/* background-size: 500px 500px; */
/* width: 2000px; */
height: 796px;
width: 100%;
background-size:contain ;
background-repeat: no-repeat;
}
.logo
{
    margin-left: 90px;
    width: 20%;

}

.navdown
{
    margin-top: 40px;
}
.unordr
{
    margin-right: 50px;
    font-size: 20px;
    /* color: white; */
}
.unordr li a{
    color: white;
    font-weight: bold;
    margin: 10px;
}
.mainheading
{
    color: white;
    font-size: 75px;
    font-weight: 650;
    margin-top: 60px;
    margin-left: -12px;
    line-height: 80px;
    /* width: 50%; */
}
.para1{
    color: white;
    font-size: 23px;
    font-weight: 200;
    width: 490px;
    margin-top: 42px;
    /* width: 95%; */
}
.button{
    color: white;
    font-weight: 600;
    width: 250px;
    padding: 10px;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    margin-top: 40px;
    background-color: rgba(216, 47, 17, 0.918);

}
.bg2
{
    background-color: #f6eedf;
    height: 780px;
    margin-top: -50px;
}
.chef
{
    color: #f64b3c;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
    letter-spacing: 1.5px;
    /* margin-right:100px; */
    
}
.para2
{
    color: #f64b3c;
    font-size: 20px;
    font-weight:450 ;
    text-align: center;
}
#roundimg
{
    margin: -95px;
    margin-top: 80px;
    margin-left: 80px;
    
}
.img1{
    width: 60%;
    border-radius: 50%;
}
.img2{
    width: 60%;
    border-radius: 50%;
}
.img3{
    width: 60%;
    border-radius: 50%;
    margin-left: 10px;
}
.post1{
    color: #f64b3c;
    margin-top: 20px;
    margin-left: 15px;
    /* text-align: center; */
    font-size: 26px;
    font-weight: 600;
    word-spacing: 0px;
    letter-spacing: 2px;
}
.postx{
    color: #f64b3c;
    font-size: 16px;
    font-weight: 500;
    margin-top: -10px;
    margin-left:70px ;
    letter-spacing: 2px;
}
.bg3
{
    background-color: #f64b3c;
    height: 650px;
    margin-top: -50px;
}

.p3img
{
    margin-top: 25%;
    margin-left: 30%;
    width: 50%;
    border-radius: 50%;
}
.para3conntex
{
    margin-top: 15%;
    margin-right: -25%;
}
.bestbrgr3
{
    color: white;
    font-size: 60px;
    font-weight: 650;

}
.para3contex
{
    color: white;
    width: 500px;
    font-size: 19px;
    /* letter-spacing: 1px; */
}
.button2
{
    color: #f64b3c;
    font-weight: 600;
    width: 200px;
    padding: 8px;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    margin-top: 20px;   
}
.bg4
{
    background-color: #f6eedf;
    height: 650px;
    margin-top: -50px;
}

.bestbrgr4
{
    color: #f64b3c;
    font-size: 60px;
    font-weight: 650;

}
.para4contex
{
    color: #f64b3c;
    width: 500px;
    font-size: 19px;   
}
.button3
{
    color:white ;
    background-color:#f64b3c ;
    font-weight: 600;
    width: 200px;
    padding: 8px;
    border-radius: 30px;
    border-style: none;
    font-size: 20px;
    margin-top: 20px;  
}
.p4img
{
    margin-top: 25%;
    width: 60%;
    border-radius: 50%;
}
.para4conntex
{
    margin-top: 15%;
}
.continr4
{
    margin-left: 13%;
}
.bg5
{
    background-color: #f64b3c;
    height: 650px;
    margin-top: -50px; 
}

.colum5
{
    margin-top: 60px;
}


.heading5
{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 620;
    letter-spacing: 1px;
}
.para5
{
    text-align: center;
    color: white;
    font-size: 18px;
    letter-spacing: 0.3px;
    width: 680px;
}
/* .circle1{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    margin-left: 180px;
    

} */
/* .circle{ */
    /* color: white; */
    /* border: 2px solid white;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    margin-left: 180px; */
    /* text-align: center; */
    /* margin-left: 50px; */
    /* width: 50%; */

/* } */
.circlerow
{
    margin-top: 50px;
}
.circle{
    /* color: white; */
    border: 2px solid white;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    margin-left: 180px;
    /* width: 50%; */

}
.setcircle
{
    color: white;
    text-align: center;
    margin-top: 55px;
    /* font-size: 20px ; */
}
.setcircle h3
{
 font-weight: 650;
 font-size: 45px;   
}
.setcircle p
{
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 500;

}
